NTRIP_URL=
NTRIP_USER=
NTRIP_PASS=

UART_PATH_PROD="/dev/serial0"
UART_PATH_DEV=

I2C_PATH_PROD="/dev/i2c-1"
I2C_PATH_DEV=
I2C_ADDR=0x42

SOCK_PATH="/run/gnss-research/ble.sock"
LOGDIR="/var/log/gnss-research/"